.card{
    color: #eee;
    /* background-color: #282430; */
    /* background-color: #180f43; */
    background-color: #27154c;
    margin: 0 0.5rem;
    border-radius: 25px;
}

.card .btn{
    background-color: #5000ff;
    border-radius: 20px;
    margin: 0 0.5rem;
}

.card img{
    border-radius: 25px;
    padding: 1rem;
}

.card-title{
    font-weight: 700;
}

.text-tech{
    color: #6cf;
    background-color: #110028;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

