footer{
    color: #8c6bff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.5rem;
}

footer > .contact{
    display: flex;
    justify-content: center;
}

footer > .contact a{
    color: #8c6bff;
    margin: 0 0.4rem;
    font-size: 1.3em;
}

footer > .contact a:hover{
    color: #fff;
}

@media screen and (min-width: 992px){
    footer{
        align-items: center;
    }

    footer > .contact a{
        font-size: 1.9em;
    }
}