header {
  background-image: url(/src/assets/img/bkg-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text{
    padding: 0 2rem;
}

header h1{
    font-weight: 700;
    font-size: 1.8em;
}

.span-header{
    color: #1fdfd9;
}

/* header{
    width: 100%;
    height: 100%;
    margin: 0 0 30rem 0;
}

header img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

header h3{
    position: relative;
} */
