header {
    
  /* background-image: url(/src/assets/img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -webkit-mask-image: linear-gradient(#110028 65%, transparent);
  mask-image: linear-gradient(#110028, transparent); */
}

.header-text{
    font-family: 'Noto Sans', sans-serif;
    /* padding: 0 2rem; */
}

header h1{
    font-size: 2.3em;
}

header p {
    font-size: 1.2em;
    font-weight: 700;
}

.span-header{
    font-weight: 700;
}

/* header{
    width: 100%;
    height: 100%;
    margin: 0 0 30rem 0;
}

header img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

header h3{
    position: relative;
} */
